<template>
    <div>
        <atom-box>
            components {{node.components?node.components.length:0}}   
            <plus-icon class="pointer flex ml-2" v-if="!addingComponents" @click="showAddComponent"/>
        </atom-box>
        <div v-if="addingComponents">
            <atom-text> select components :</atom-text><atom-select :customLabel="true" v-model="selectedComponents" :options="optionsComponents"></atom-select>
            <atom-box class="my-2">
                <atom-button class="mx-2" @click.stop.prevent="updateComponents">Select</atom-button>
                <atom-button class="mx-2" @click.stop.prevent="closeComponentsForm">Cancel</atom-button>
            </atom-box>
        </div>
        <div v-for="component in node.components"></div>
    </div>
</template>  

<script setup lang="ts">

import { computed, ref } from "vue";
import PlusIcon from "vue-material-design-icons/PlusCircleOutline.vue"
import DeleteIcon from "vue-material-design-icons/TrashCanOutline.vue";
import {useProjectDetail} from "@/stores/projectDetail"

const selectedComponents=null;

let projectDetail = useProjectDetail()

const optionsComponents= computed(()=>{
    let files =Object.values(projectDetail.files).filter((file)=>{
        return file.name.indexOf('/components/')!==-1
    }).map((file)=>{return {label:file.name,value:file}})
    console.log(files)
    return files
})


let addingComponents= ref(false);

const props=defineProps({
    node:{type:Object,required:true}
})

const emit = defineEmits(['update:components'])


function showAddComponent(){
    addingComponents.value=true
}

function updateComponents(){
    emit('update:components')
}


function closeComponentsForm(){
   addingComponents.value=false
}

</script>