<template>
    <atom-modal closeIcon @close="close" :open="open">
        <template v-slot:header>
            <atom-header :level="4">Delete</atom-header>
        </template>
        <div>
            <atom-text>Are you sure to delete this element ?</atom-text>
            <atom-text class="truncate" :p="true" v-if="description">{{description}}</atom-text>
            <atom-button class="mt-2" @click="deleteConfirm">Yes</atom-button>
        </div>
    </atom-modal>
</template>

<script lang="ts">
export default {
    emits: ['close','delete-confirm'],
    props:{
        open:{type:Boolean},
        description:{type:String}
    },
    methods:{
      close:function(){
          this.$emit('close')
      },
      deleteConfirm:function(){
          this.$emit('delete-confirm')
      }
    }
}
</script>