<template>
    <atom-modal closeIcon @close="close" :open="open">
        <template v-slot:header>
            <atom-header :level="4">Edit profile</atom-header>
        </template>
        <div>
            <atom-text>Upload your avatar</atom-text>
            <atom-box v-on:keydown.enter.prevent='handleSubmit'>
                <atom-upload v-model="file" type="file" name="avatar"/><br/>
                <atom-button @click="handleSubmit">Upload</atom-button>
            </atom-box>
        </div>
    </atom-modal>
</template>

<script>
import {uploadFiles} from "@/helpers/uploadFiles"
import { useToast } from "vue-toastification";

export default {
    emits: ['close'],
    props:{
        open:{type:Boolean}
    },
    data(){
        return{
            file:null
        }
    },
    setup(){
        const config = import.meta.env
        const urlUploadApi=config.VITE_BACKEND_URL+"account/profil/avatar"
        return {urlUploadApi,toast : useToast()}
    },
    methods:{
        close(){
            this.file=null;
            this.$emit('close')
        },
        handleSubmit(e) {
            if(this.file && this.file.length>0){
                uploadFiles(this.urlUploadApi,{"avatar":this.file[0]})
             //   this.file=null;
            }else {
                toast.error("You should upload a file first")
            }
        }
    }
}
</script>