<template>
    <atom-box class="file pointer">
        <file-icon class="mr-1"/> {{file.name}}
        <span v-if="!isReadOnly" class="file-action-icons">
            <delete-icon class="ml-1"  @click.stop.prevent="deleteFile"></delete-icon>
        </span>
    </atom-box>  
</template>

<script lang="ts">
import FileIcon from "vue-material-design-icons/File.vue"
import DeleteIcon from "vue-material-design-icons/TrashCanOutline.vue";

export default {
    components:{FileIcon,DeleteIcon},
    props:{
        file:Object,
        isReadOnly:{
            type:Boolean,
            default:false
        }
    },
    methods:{
        deleteFile(){
            this.$emit("deleteFile",[this.file.name])
        }
    }
}
</script>

<style scoped>
.file{
    display: flex;
    align-items: center;    
}

:hover.file .file-action-icons{
    visibility: initial;
}
.file-action-icons{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>