<template>
    <atom-box col>
        <atom-box class="pointer items-center">
            <folder-open-icon v-if="isOpen" class="mr-1"  />
            <folder-icon v-else class="mr-2" /> 
            {{name}}
            <div>
                <file-plus-icon class="ml-2" :size="16" @click.stop.prevent="addFile"/>
                <delete-icon class="ml-2" :size="16" @click.stop.prevent="deleteFolder"></delete-icon>
            </div>
        </atom-box>  
        <atom-box  v-if="isOpen" col class="folder-open">
            <folder @delete-file="emitDeleteFile" @delete-folder="emitDeleteFolder" @upload-file="uploadFile" :folder="folder" :name="folderName" @click.stop="toggleSubFolder(folderName)" :openFolders="openSubFolders" :key="folderName" v-for="(folder,folderName) in subFolders"></folder>
            <file  @delete-file="emitDeleteFile" @click.stop="selectFile(file)" :name="fileName" :file="file" :key="fileName" v-for="(file,fileName) in files"></file>
        </atom-box> 
    </atom-box>  
</template>

<script lang="ts">

import MenuDownIcon from "vue-material-design-icons/MenuDown.vue"
import FilePlusIcon from "vue-material-design-icons/FilePlus.vue"
import MenuUpIcon from "vue-material-design-icons/MenuUp.vue"
import FolderIcon from "vue-material-design-icons/Folder.vue"
import FolderOpenIcon from "vue-material-design-icons/FolderOpen.vue"
import {useGameProject} from "@/stores/gameProject"
import File from "@/components/molecule/File.vue"
import DeleteIcon from "vue-material-design-icons/TrashCanOutline.vue";

export default {
    name:"Folder",
    components:{FolderIcon,FolderOpenIcon,MenuDownIcon,MenuUpIcon,FilePlusIcon,File,DeleteIcon},
    props:{
        name:String,
        folder:{type:Object,default:{}},
        openFolders:{type:Object},
    },
    data(){
        return {
            openSubFolders:{},
            isModalOpen:false
        }
    },
    computed:{
        isOpen:function(){
            return this.openFolders[this.name]
        },
        subFolders:function(){
            return this.folder?.folders
        },
        files:function(){
            return this.folder?.files
        }
    },
    methods:{
        deleteFolder(){
             this.emitDeleteFolder([])
        },
        deleteFile(){
             this.emitDeleteFile([])
        },
        emitDeleteFolder(childFolders){
            childFolders.unshift(this.name)
            this.$emit("deleteFolder",childFolders);
        },
        emitDeleteFile(childFolders){
            childFolders.unshift(this.name)
            this.$emit("deleteFile",childFolders);
        },
        toggleSubFolder(name){
            if(this.openSubFolders[name]===true){
                delete this.openSubFolders[name]
            }else{
                this.openSubFolders[name]=true
            }
        },
        addFile(){
           this.uploadFile([])
        },        
        selectFile(file){
            useGameProject().selectFile(file);
        },
        uploadFile(childFolders){
            childFolders.unshift(this.name)
            this.$emit("uploadFile",childFolders);
        },
    }
}
</script>

<style  scoped>
.folder-open{
    min-height: 1rem;
    padding-left:1rem
}
</style>