<template>
    <atom-modal closeIcon @close="close" :open="open">
        <template v-slot:header>
            <atom-header :level="4">UploadFiles</atom-header>
        </template>
        <div>
            <atom-text>Upload your files</atom-text>
            <atom-box col v-on:keydown.enter.prevent='handleSubmit'>
                <atom-input placeholder="subfolder name" v-model="subfolder"></atom-input>
                <atom-upload multiple="true" v-model="files" type="file" name="file"/><br/>
                <div v-for="file in files">
                    {{file.name}}
                </div>
                <atom-button @click="handleSubmit">Upload</atom-button>
            </atom-box>
            path {{path}}
        </div>
    </atom-modal>
</template>

<script>
import {uploadFiles} from "@/helpers/uploadFiles"
import { useToast } from "vue-toastification";
import { useProjectDetail } from '@/stores/projectDetail';

export default {
    name:"MultipleFileUploadModal",
    emits: ['close'],
    props:{
        open:{type:Boolean},
        path:{type:String}
    },
    data(){
        return{
            subfolder:"",
            files:null
        }
    },
    setup(){
        const config = import.meta.env
        const urlUploadApi=config.VITE_BACKEND_URL+"account/profil/avatar"
        return {urlUploadApi,toast : useToast()}
    },
    methods:{
        close(){
            this.files=null;
            this.$emit('close')
        },
         handleSubmit (e) {
            if(this.files && this.files.length>0){
                for (let index = 0; index < this.files.length; index++) {
                    const file = this.files[index];
                    let filename = file.name;
                        //uploadFiles(this.urlUploadApi,{"file":this.file[index]}) 
                        let path = "/"+this.path + (this.subfolder!==""?"/"+this.subfolder:"")
                    useProjectDetail().createFile(path,filename,file)
                }
            }else {
                toast.error("You should upload a file first")
            }
        }
    }
}
</script>