<template>
    <atom-box class="ml-3" col>
      <atom-box @click.stop.prevent="clickNode" class="node-graph-branch pointer pl-3"> 
        <atom-text>{{labelNode}}</atom-text>
        <span @click.stop.prevent="addNode">
            <plus-icon class="pointer ml-2"></plus-icon>
         </span> 
          <span @click.stop.prevent="showLinkForm">
            <link-icon class="pointer ml-2"></link-icon>
          </span>
           <span @click.stop.prevent="deleteNode">
            <delete-icon class="pointer ml-2"></delete-icon>  
          </span>
        </atom-box>
        <div v-if="linking">
          <atom-text> link node :</atom-text><atom-select v-model="selectedLinkNode" :options="optionsLink"></atom-select>
          <atom-box class="my-2">
            <atom-button class="mx-2" @click.stop.prevent="linkNode">link</atom-button>
            <atom-button class="mx-2" @click.stop.prevent="closeLinkForm">cancel</atom-button>
          </atom-box>
        </div>
        <div v-if="node && node.children" v-for="childIndex in node.children">
          
          <node-graph v-if="typeof childIndex==='number'" @delete-node="deleteNodeChild(childIndex)" :scene="scene" :index="childIndex" :depth="depth+1" :node="scene.nodes[childIndex]"></node-graph> 
          <!-- <span v-else>{{childIndex}}</span> //it's a ref-->
        </div>
    </atom-box>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import DeleteIcon from "vue-material-design-icons/TrashCanOutline.vue";
import LinkIcon from "vue-material-design-icons/LinkVariantPlus.vue";
import PlusIcon from "vue-material-design-icons/PlusCircleOutline.vue";

import { useGameProject } from "@/stores/gameProject"
const emit = defineEmits(['delete-node'])

const props = defineProps({
  node: Object,
  index:{type:Number||Object},
  scene:Object,
  depth:Number
})

const linking= ref(false)
const selectedLinkNode=ref(null)

const labelNode=computed(()=>{
  return ((props.node && props.node.name)?props.node.name:"Node "+props.index)
});

const optionsLink=computed(()=>{
  let optionsLink= Array.from(Array(props.scene.nodes.length).keys())
  optionsLink.splice(props.index,1)
  return optionsLink 
});

const clickNode =()=>{
  useGameProject().editNode(props.index)
}

const addNode =()=>{
  props.scene.addNode(props.index)
}

const deleteNodeChild =(childIndex)=>{
  props.scene.deleteNodeChild(props.index,childIndex)
}

const deleteNode =(childIndex)=>{
  emit('delete-node',childIndex)
}

const showLinkForm =()=>{
  linking.value=true
  selectedLinkNode.value=null
}

const closeLinkForm =()=>{
  linking.value=false
}
const linkNode =()=>{
  props.scene.linkNode(props.index,selectedLinkNode.value)
  closeLinkForm()
}

</script>

<style>
.node-graph-branch{
  border-left: 2px solid black;  
}
</style>