<template>
  <atom-card :closeIcon="!readOnly" @close="askDelete" class="m-2">
    <template v-slot:header>
      <atom-header :level="3">{{ project.name }}</atom-header>
      <delete-modal v-if="!readOnly" @delete-confirm="deleteProject" @close="cancel" :open="open"></delete-modal>
    </template>
    <atom-box col full class="justify-around">
      <atom-box full class="project-card-placeholder justify-center">
        <gamepad-variant-icon class="icon-4x" fillColor="white"/>
      </atom-box>
      <atom-text p>{{ project.description }}</atom-text>
      <atom-box class="mt-4 justify-center">
        <atom-button v-if="!readOnly" :to="'/editor/' + project.id">
        Open
        </atom-button>
        <atom-button class="ml-4" :to="'/preview/' + project.id">
        preview
       </atom-button>
      </atom-box>
    </atom-box>
  </atom-card>
</template>

<script>

import GamepadVariantIcon from "vue-material-design-icons/GamepadVariant.vue"
import DeleteModal from "@/components/molecule/DeleteModal.vue"

export default {
    emits: ['delete-project'],
    components:{GamepadVariantIcon,DeleteModal},
    props:{
      project:{type:Object},
      readOnly:{type:Boolean,default:false}
    },
    data(){
      return {
        open:false
      }
    },
    computed:{
      isOwner:function(){
        
      }
    },
    methods:{
      askDelete:function(){
        this.open=true;
      },
      cancel:function(){
        this.open=false;
      },
      deleteProject:function(){
        this.$emit("delete-project",this.project)
      }
    }
}
</script>

<style >
.project-card-placeholder{
  padding:0.5rem;
  border: 1px solid var(--border-color1);
  border-radius: 4px;
}
</style>