<template>
    <atom-box col>
      <scene-commands :commands="scene.commands"></scene-commands>
      <scene-systems :systems="scene.systems"></scene-systems>
      <scene-scripts :scripts="scene.scripts"></scene-scripts>
      <scene-cameras :cameras="scene.cameras"></scene-cameras>
    </atom-box>
</template>


<script setup lang="ts">
import SceneCommands from "@/components/Molecule/Scene/SceneCommands.vue"
import SceneSystems from "@/components/Molecule/Scene/SceneSystems.vue"
import SceneScripts from "@/components/Molecule/Scene/SceneScripts.vue"
import SceneCameras from "@/components/Molecule/Scene/SceneCameras.vue"

const props = defineProps({
  scene: Object
})
</script>