<template>
    <div class="tree-view">
    <span class="tree-view-header">Project</span>
    <tree-branch @select-file="childSelectFile" parentPath='' :currentPath="currentPath" :branch="arborescence"></tree-branch>
  </div>
</template>

<script>

import TreeBranch from "@/components/Molecules/TreeBranch";

export default {
    name:"Tree branch",
    components:{
      TreeBranch
    },
    data(){
        return {
        game:{

            }
        }
    }
}
</script>