<template>
    <atom-box>
        <template v-for="value,index in vec">
                <atom-input :step="step" class="vec-input mr-2" type="number" :name="getName(index)" :modelValue="value" @update:modelValue="(val)=>updateValue(index,val)"></atom-input>
        </template>
    </atom-box>
</template>

<script setup>

const emit = defineEmits(['update'])

const {vec} = defineProps({
    vec:{type:Object},
    step:{type:Number,default:1}
})

const updateValue=function(index,value){
    emit('update',{index,value})
}

const names=[
    "x",
    "y",
    "z",
    "w"
]

const getName=function(index){
    return names[index]
}
</script>

<style>
.vec-input{
    min-width:30px;
    max-width:60px;
}
</style> 