<template>
  <atom-box :col="true" :full="true" class="h-full">
    <header-app></header-app>
    <main :col="true" :full="true" class="default-layout">
      <slot></slot>
    </main>
    <footer-app></footer-app>
  </atom-box>
</template>

<script setup>
  import HeaderApp from "@/components/HeaderApp.vue"
  import FooterApp from "@/components/FooterApp.vue"
</script>

<style>
  .default-layout{
    background:  var(--bg-color0);
    height: calc(100% - 100px);
  }
</style>