<template>
  <main>
   <router-lin to="/">Home page</router-link>
    <atom-text v-if="pending">Fetching projects...</atom-text>
    <atom-text v-else-if="error">An error occurred :(</atom-text>
    <div v-else>
      <atom-header :level="1">Game projects</atom-header>
      <ul>
        <li v-for="post of posts" :key="post.id">{{ post.title }}</li>
      </ul>
      <atom-button @click="$fetch">Refresh</atom-button>
    </div>
  </main>
</template>


<script>
import { $fetch } from 'ohmyfetch'
import {useFetch} from "@/helpers/fetch"
export default {
  name:"User Home",
  setup() {
    
    const {pending,error,data:posts} = await useFetch('count', () => $fetch('https://jsonplaceholder.typicode.com/posts'),{server:true,lazy: false})

    return {pending,error,posts}
  }
}

</script>
<!--
 <script setup>
   const asyncData = await useAsyncData('count', () => $fetch('https://jsonplaceholder.typicode.com/posts'))

   console.log(asyncData)
 </script>
 -->