<template>
  <atom-box :full="true" class="justify-center">
    <atom-box class="mt-2 w-full" :max="0" :col="true">
      <atom-header :level="1">Reset your password</atom-header>
      <atom-text>Enter your email address below to reset the password for your account.</atom-text>
      <atom-spacer></atom-spacer>
      <atom-input placeholder="Email address" v-model="email"></atom-input>
      <atom-button>Send reset link</atom-button>
      <atom-link to="/sign-in">Back to login</atom-link>
    </atom-box>
  </atom-box>
</template>

<script>
export default {
  name: "Forgot Password",
  head: {
    title: "Recovery password",
    meta: [
      {
        hid: "description Forgot Password page",
        name: "description",
        content: "Forgot Password page description",
      },
    ],
  },
  data(){
    return {
      email:""
    }
  }
}
</script>