<template>
  <atom-box :full="true" class="justify-center">
    <atom-box class="mt-2 w-full" :max="1" :col="true">
      <atom-header>Home page</atom-header>
      <!-- <atom-link to="/editor/test">Editor page</atom-link><br/> -->
      <atom-link to="/profil">User page</atom-link>
      <div>
        <atom-link href="https://vuejs.org/">External Link to another page</atom-link>
      </div>
    </atom-box >
  </atom-box>
</template>

<script>
export default {
    name:"Homepage",
    head: {
        title: 'Home page',
        meta: [
        {
            hid: 'description home page',
            name: 'description',
            content: 'Home page description'
        }
        ],
    }
}
</script>