<template>
    <atom-box :full="true" class="justify-center">
        <atom-box class="mt-2 w-full" :max="1" :col="true">
            <atom-header :level="2">User's profil</atom-header>
            <atom-box>
              <div v-if="user.avatarUrl"><img :src="user.avatarUrl" alt=""></div>
              <account-icon v-else class="icon-4x" fillColor="white"></account-icon>
              <div class="ml-4">
                <atom-text p>FullName : {{user.fullName}}</atom-text>
                <atom-text p>Email : {{user.emailAddress}}</atom-text> 
              </div>
            </atom-box>
            <div>
              <atom-button @click="openEditProfilModal">Edit profil</atom-button>
              <edit-avatar-modal @close="closeEditProfilModal" :open="isEditProfilModalOpen"></edit-avatar-modal>
            </div> 
            <atom-header :level="2">Projects</atom-header> 
            <user-projects :user="user"/>
        </atom-box>
    </atom-box>
</template>


<script>
import UserProjects from "@/components/Organism/UserProjects.vue"
import EditAvatarModal from "@/components/molecule/EditAvatarModal.vue"
import AccountIcon from "vue-material-design-icons/Account.vue"
import { useUser } from "@/stores/user";

export default {
  name:"Profil",
  components:{AccountIcon,EditAvatarModal,UserProjects},
  head: {
    title: "Profil page",
    meta: [
      {
        hid: "description profilpage",
        name: "description",
        content: "profil page description",
      },
    ],
  },
  data(){
    return {
      isEditProfilModalOpen:false,
      creating:false,
      projectName:'',
      projectDescription:'',
    }
  },
  validations () {
      return {
        projectName: { required },
        projectDescription: { required }
      }
  },
  setup() {
  
    const user =  useUser()
    user.getProfil()    
    return {user}
  },
  methods:{
    openEditProfilModal:function(){
      this.isEditProfilModalOpen=true
    },
    closeEditProfilModal:function(){
      this.isEditProfilModalOpen=false
    }
  }
}

</script>