<template>
    <atom-box :full="true" class="justify-center">
        <atom-box class="mt-2 w-full" :max="1" :col="true">
            <atom-header>Browse projects</atom-header>
            <atom-box class="mt-2 w-full">
                <projects-list :projects="projects"></projects-list>
            </atom-box>
        </atom-box >
    </atom-box >
</template>

<script>
import ProjectsList from "@/components/Organism/ProjectsList.vue"
import {useFetch} from "@/helpers/fetch"

export default {
    components:{
        ProjectsList
    },
    name:"Projects",
    head: {
        title: 'Explore projects',
        meta: [
        {
            hid: 'description projects',
            name: 'description',
            content: 'projects description'
        }
        ],
    },
    setup(){
        
        const skip=0;
        const config = import.meta.env
        let options ={
            method:'get',
            params:{skip},
            credentials: "include",
            baseURL:config.VITE_BACKEND_URL
        };
        const {pending,error,data:projects} = useFetch('project',options)
        return {pending,error,projects}
    }
}
</script>