<template>
  <atom-box :full="true" class="justify-center">
    <atom-box class="mt-2 w-full" :max="0" :col="true">
      <form v-on:keydown.enter.prevent='handleSubmit' >
        <atom-header class="mt-2" :level="1">Sign in to your account</atom-header>
        <atom-spacer></atom-spacer>
        <atom-input  :errors="v$?.emailAddress?.$errors" name="Email address" v-model="emailAddress"></atom-input>
        <atom-input :errors="v$?.password?.$errors" type="password" name="Choose a password" v-model="password"></atom-input>
        <atom-button ref="sign-in-submit" class="mt-4" type="submit" @submit="handleSubmit">Sign in</atom-button>
        <atom-link class="mt-4" to="/forgot-password">Forgot your password?</atom-link>
      </form>
    </atom-box> 
  </atom-box>
</template>

<script lang="ts">

import useVuelidate from '@vuelidate/core'
import { required, email  } from '@vuelidate/validators'
import { useUser } from "@/stores/user";

export default {
  name: "Sign in",
  head: {
    title: "Sign in page",
    meta: [
      {
        hid: "description Sign in page",
        name: "description",
        content: "Sign in page description",
      },
    ],
  },
   setup () {
      const user =  useUser()
      return { v$: useVuelidate() ,config : import.meta.env,user}
    },
    data () {
      return {
        emailAddress: '',
        password:''
      }
    },
    validations () {
      return {
        emailAddress: { required, email }, // Matches this.emailAddress
        password: { required }
      }
    },
  methods: {
      async handleSubmit(e) {
          // stop here if form is invalid
          this.$refs["sign-in-submit"].$el.focus()
          await this.$nextTick()
          this.v$.$touch();
          if (this.v$.$invalid) {
            
          console.log("error",this.v$)
              return;
          }
          let user ={
            emailAddress :this.emailAddress,password:this.password
          }

          this.signIn(user)
      }, 
      async signIn(user){

        this.user.login(user)
       
      }
    }
};
</script>