<template>
  <atom-box :full="true" class="justify-center">
    <atom-box v-on:keydown.enter.prevent='handleSubmit' class="mt-2 w-full" :max="0" :col="true">
      <atom-header :level="1">Create a account</atom-header>
      <atom-text>Let's get started! Becoming a member is free and only takes a few minutes.</atom-text>
      <atom-spacer class="mt-4"></atom-spacer>
      <atom-input :errors="v$?.fullName?.$errors" name="Full name" v-model="fullName"></atom-input>
      <atom-input  :errors="v$?.emailAddress?.$errors" name="Email address" v-model="emailAddress"></atom-input>
      <atom-input :errors="v$?.password?.$errors" type="password" name="Choose a password" v-model="password"></atom-input>
      <atom-input :errors="v$?.passwordConfirm?.$errors" type="password" name="Confirm password" v-model="passwordConfirm"></atom-input>
      <div class="mt-4">
        <atom-checkbox :error="v$.agreement && v$.agreement.$errors" id="agreement" name="agreement" v-model:checked="agreement">I have read & agree to the <atom-link to="/terms-of-service">terms of service</atom-link>.</atom-checkbox>
      </div>
      <atom-button class="mt-4" @click="handleSubmit">Create account</atom-button>
      <div class="mt-4">
        <atom-text>Have an account?</atom-text><atom-link to="/sign-in">Sign in</atom-link>
      </div>   
    </atom-box>
  </atom-box>
</template>

<script>
import {useFetch} from "@/helpers/fetch"
import useVuelidate from '@vuelidate/core'
import { required, email, sameAs  } from '@vuelidate/validators'
import { useToast } from "vue-toastification";

export default {
    name:"SignUp",
    head: {
        title: 'Sign up page',
        meta: [
        {
            hid: 'description Sign up page',
            name: 'description',
            content: 'Sign up page description'
        }
        ],
    },
    setup () {
      return {toast : useToast(), v$: useVuelidate() ,config : import.meta.env}
    },
    data () {
      return {
        submitted:false,
        fullName: '',
        emailAddress: '',
        password:'',
        passwordConfirm:'',
        agreement:false
      }
    },
    validations () {
      return {
        fullName: { required }, // Matches this.fullName
        emailAddress: { required, email }, // Matches this.emailAddress
        password: { required },
        passwordConfirm: {
          sameAsPassword:sameAs(this.password)
        },
        agreement: {
            checked:sameAs(true)
        } 
      }
    },
    methods: {
      handleSubmit(e) {
          this.submitted = true;

          // stop here if form is invalid
          this.v$.$touch();
          if (this.v$.$invalid) {
            
          console.log("error",this.v$)
              return;
          }
          let user ={
            fullName :this.fullName,emailAddress :this.emailAddress,password:this.password
          }

          this.signUp(user)
      }, 
      async signUp(user){

        // const { data : csrfData  } = await useFetch('/csrfToken',{baseURL:this.config.VITE_BACKEND_URL });
        
        // console.log(csrfData.value);
        
        let options ={
          method:'post',
          body:JSON.stringify(user),
          credentials: "include",
          // headers:{
          //   "x-csrf-token":csrfData.value._csrf
          // },
          baseURL:this.config.VITE_BACKEND_URL
        };
        
        const { data ,error } = await useFetch('entrance/signup',options);
        if( error ){
          this.toast.success("Your account have been created", {
            timeout: 2000
          });
          this.$router.push('/sign-in')
        }else{
          this.toast.error('Erreur lors de la création du compte')
        }

      }
    }
}
</script>