<template>
  <atom-box :full="true" class="justify-center">
    <atom-box class="mt-2 w-full" :max="1" :col="true">
      <atom-header>Terms of service</atom-header>
      <atom-spacer></atom-spacer>
      <atom-button @click="test">toast and redirect</atom-button>
    </atom-box>
  </atom-box>
</template>

<script>

import { useToast } from "vue-toastification";

export default {
  setup() {
    const toast = useToast();
    return {toast}
  }
}
</script>
