<template>
  <div>
    <atom-text v-if="pending">Fetching project : {{ $route.params.projectId }}...</atom-text>
    <atom-text v-else-if="error">An error occurred :(</atom-text>
    <template v-else>
      <div> 
        <atom-header :level="1">Preview {{projectDetail.name}}</atom-header>
      </div>
      <main class="w-full">
        <preview-viewer v-if="gameProject.levelInstance" :gameState="gameProject.gameState" :level="gameProject.levelInstance"></preview-viewer>
      </main>
    </template>
  </div>
</template>

<script setup>

import { useProjectDetail } from "@/stores/projectDetail";
import { useGameProject } from "@/stores/gameProject";
import PreviewViewer from '@/components/Organism/PreviewViewer.vue'
import {useRoute} from "vue-router"
    
const route = useRoute()

const projectDetail = useProjectDetail()
const gameProject=useGameProject();

const retrieveProject = async ()=>{
  await projectDetail.retrieveProjectDetail(route.params.projectId)
  gameProject.startPreview() 
}
retrieveProject()
</script>
 <style >

 </style>