<template>
    <atom-box col>
      <atom-box @click="toggle">
        <span>Graph </span> 
        <chevron-left v-if="isOpen" class="pointer ml-2"></chevron-left>
        <chevron-down v-else class="pointer ml-2"></chevron-down>
      </atom-box>
      <div v-show="isOpen" v-for="nodeIndex in nodeIndexes">
        <node-graph :scene="scene" :index="nodeIndex" :node="scene.nodes[nodeIndex]"></node-graph>
      </div>
    </atom-box>
</template>


<script setup lang="ts">

import ChevronDown from "vue-material-design-icons/ChevronDown.vue";
import ChevronLeft from "vue-material-design-icons/ChevronLeft.vue";
import NodeGraph from "@/components/Molecule/NodeGraph.vue"
import {ref} from "vue";

const props = defineProps({
  scene: Object,
  nodeIndexes: Array
})

const isOpen =ref(false);

const toggle=()=>{
    isOpen.value=!isOpen.value
}
</script>