<template>
    <atom-box col>
        <atom-box @click="toggle">
            <span>{{cameras.length}} cameras </span> 
            <chevron-left v-if="isOpen" class="pointer ml-2"></chevron-left>
            <chevron-down v-else class="pointer ml-2"></chevron-down>
        </atom-box>
        <div class="ml-3" v-if="isOpen" v-for="camera in cameras">
            {{camera.name}} {{camera.type}} {{camera[camera.type]}}
        </div>
    </atom-box>
</template>


<script setup lang="ts">

import ChevronDown from "vue-material-design-icons/ChevronDown.vue";
import ChevronLeft from "vue-material-design-icons/ChevronLeft.vue";
import {ref,computed} from "vue";

const props = defineProps({
  cameras: Object
})
const isOpen =ref(false);

const toggle=()=>{
    isOpen.value=!isOpen.value
}

</script>