<template>
    <atom-box col>
        <atom-box @click="toggle">
            <span>{{commands.length}} commands </span> 
            <chevron-left v-if="isOpen" class="pointer ml-2"></chevron-left>
            <chevron-down v-else class="pointer ml-2"></chevron-down>
        </atom-box>
        <div class="ml-3" v-if="isOpen" v-for="command in commands">
            {{command.name}} : {{command.input.controller}} {{command.input.action}} {{command.input.input}}
        </div>
    </atom-box>
</template>


<script setup lang="ts">

import ChevronDown from "vue-material-design-icons/ChevronDown.vue";
import ChevronLeft from "vue-material-design-icons/ChevronLeft.vue";
import {ref} from "vue";

const props = defineProps({
  commands: Object
})
const isOpen =ref(false);

const toggle=()=>{
    isOpen.value=!isOpen.value
}
</script>