<template>
    <div class="atom-checkbox-container"  :class="{'fill':checked!=='' }">
        <input class="atom-checkbox" :name="name" type="checkbox" 
            @input="(event) => $emit('update:checked', event.target.checked)"
            :checked="checked"
        />
        <label class="atom-checkbox-label" :for="name"><slot/></label>        
    </div>
</template>

<script>
export default {
    name: "AtomCheckbox",
    props:{
        checked: Boolean,
        name: { type: String },
    }
}
</script>

<style scoped >

  .atom-checkbox-container{
    display: flex;
    align-items: center;
  }


  .atom-checkbox{
    cursor: pointer;
  }

  :disabled.atom-checkbox{
    cursor: not-allowed;
  }

 .fill .atom-checkbox-label {
    content: "filled";
  }

  .atom-checkbox {
    position: relative;
    width: 1rem;
    height: 1rem;
    color: var(--border-color1);
    border: 1px solid var(--border-color1);
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: -0.5px;
      left: 4px;
      width: 7px;
      height: 12px;
      border-style: solid;
      border-color: var(--border-color1);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    &:checked {
      color: var(--border-color0);
      border-color: var(--text-color4);
      background: var(--text-color4);
      &::before {
        opacity: 1;
      }
      ~ label::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  .fill .atom-checkbox-label {
    content: "filled";
  }

  .atom-checkbox-label {
    position: relative;
    cursor: pointer;
    font-weight: normal;
    padding: 0 0.25em 0;
    user-select: none;
    color: var(--text-color0);
    font-size: 0.8rem;
    &::before {
      position: absolute;
      content: "";
      color: var(--text-color0);
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      text-decoration: line-through;
      text-decoration-thickness: 3px;
      text-decoration-color: var(--border-color1);
      transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }; 
</style>