<template>
    <router-link v-if="to" :to="to" class="atom-link"><slot /></router-link>
    <a class="atom-link" rel="noopener noreferrer" v-else :href="href"><slot /></a>
</template>

<script>

export default {
    props:{
        to:{type:String},
        href:{type:String},
        blank:{type:Boolean}
    },
    computed:{
        blankAttr:function(){
            return this.blank?"_blank":"_self"
        }
    }
}
</script>

<style scoped >
.atom-link{
    color: var(--text-color0);
    text-decoration: underline;
}
</style>