<template>
    <div class="atom-box" :class="classObject">
        <slot />
    </div>
</template>

<script>

export default {
     props: {
        col: {type:Boolean,default:false},
        full: {type:Boolean,default:false},
        max: {type:Number}
    },
    computed: {
        classObject() {
            let maxClassName=`atom-box-max-${this.max}`;
            return {
                'atom-box-col': this.col,
                'atom-box-full': this.full,
                [maxClassName]:typeof this.max === "number"
            }
        }
    },
}
</script>

<style scoped >
    .atom-box{
        display: flex;
    }

    .atom-box-col{
        flex-direction: column;
    }

    .atom-box-full{
        flex:1
    }

    .atom-box-max-0{
        max-width: var(--box-max-size-0);
    }
    
    .atom-box-max-1{
         max-width: var(--box-max-size-1);
    }

    .atom-box-max-2{
         max-width: var(--box-max-size-2);
    }

</style>
