<template>
    <h1 class="atom-header level-1" v-if="level===1"><slot /></h1>
    <h2 class="atom-header level-2" v-else-if="level===2"><slot /></h2>
    <h3 class="atom-header level-3" v-else-if="level===3"><slot /></h3>
    <h4 class="atom-header level-4" v-else-if="level===4"><slot /></h4>
    <h5 class="atom-header level-5" v-else-if="level===5"><slot /></h5>
    <h6 class="atom-header level-6" v-else-if="level===6"><slot /></h6>
</template>

<script>

export default {
     props: {
        level: {type:Number,default:1}
    },
    setup() {
        
    },
}
</script>

<style scoped >
.atom-header{
    color: var(--text-color0);
}

.level-1{
    font-size:var(--header-size1)
}

.level-2{
    font-size:var(--header-size2)
}

.level-3{
    font-size:var(--header-size3)
}

.level-4{
    font-size:var(--header-size4)
}

.level-5{
    font-size:var(--header-size5)
}

.level-6{
    font-size:var(--header-size6)
}

</style>