<template>
    <li class="atom-nav-item"><router-link :to="to"><slot /></router-link></li>
</template>

<script>

export default {
    props:{
        to:{type:String}
    }
}
</script>


<style scoped >

.atom-nav-item{
    color: var(--text-color0);
    margin-left:2rem;
}
</style>

