<template>
    <nav class="atom-nav">
        <ul class="atom-nav-list">
            <slot></slot>
        </ul>
    </nav>
</template>

<style >
    .atom-nav-list{
        display: flex;
    }
</style>