<template>
  <div class="atom-select" :tabindex="tabindex" @blur="open = false">
    <div class="selected" :class="{ open: open }" @click="open = !open">
      {{ selectedText }}
    </div>
    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, i) of options"
        :key="i"
        @click="
          selected = option;
          open = false;
          $emit('update:modelValue', option);
        ">
        <span v-if="customLabel">{{ option.label }}</span><span v-else>{{ option }}</span> 
      </div>
    </div>
  </div>
</template>



<script lang="ts">
export default {
    emits: ['update:modelValue'],
    props:{
        modelValue:{type:[String, Number]},
        options: {
            type: Array,
            required: true,
        },
        tabindex: {
            type: Number,
            required: false,
            default: 0,
        },
        placeholder:{
            type: String,
            required: false,
            default: "Select ...",
        },
        customLabel:false
    },
     data() {
        return {
            open: false,
        }
    },
    computed:{
      value: {
        get() {
          return this.modelValue
        },
        set(value) {
          this.$emit('update:modelValue', value)
        }
      },
      selectedText:function(){
        if(this.customLabel){
          return this.modelValue? this.modelValue.label : this.placeholder
        }else{
          return this.modelValue ?? this.placeholder
        }
      }
    }
}
</script>

<style scoped>

.atom-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 2rem;
  line-height: 2rem;
}

.atom-select .selected {
  background-color: #0a0a0a;
  border-radius: 6px;
  border: 1px solid #666666;
  color: #fff;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.atom-select .selected.open {
  border: 1px solid #ad8225;
  border-radius: 6px 6px 0px 0px;
}

.atom-select .selected:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.atom-select .items {
  color: #fff;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
  border-right: 1px solid #ad8225;
  border-left: 1px solid #ad8225;
  border-bottom: 1px solid #ad8225;
  position: absolute;
  background-color: #0a0a0a;
  left: 0;
  right: 0;
  z-index: 1;
}

.atom-select .items div {
  color: #fff;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.atom-select .items div:hover {
  background-color: #ad8225;
}

.selectHide {
  display: none;
}
</style>