<template>
        <label class="atom-input-container">
            {{ label }}  
            <input :name="name" type="file" @change="handleFileUpload" :multiple="multiple"/>
        </label>
</template>

<script>
export default {
    name:'atom-upload',
    props:['name','label','modelValue','multiple'],
    methods:{
        handleFileUpload:function(event) {
            this.$emit('update:modelValue', event.target.files);
        }
    }
}

</script>

<style scoped>
.atom-input-container{
  display: flex;
  flex-direction: column;
}
</style>
