<template>
    <div :class="classObject" class="atom-input-container">
        <input :step="step" :placeholder="name" class="atom-input" :value="value" @change="$emit('update:modelValue', $event.target.value)" :type="type" /> 
        <label class="atom-input-label">{{name}}</label>
        <template :key="error.$uid" v-for="error of errors" >
            <span class="atom-input-error-msg">{{ error.$message }}</span>
        </template>
    </div>
</template>

<script lang="ts">
export default {
    props:{
        name:{type:String},
        type:{type:String},
        key:{type:String},
        step:{type:Number},
        modelValue:{type:[String, Number]},
        errors:{type:Array}
    },
    emits: ['update:modelValue'],
    computed:{
      value: {
        get() {
          return this.modelValue
        },
        set(value) {
          this.$emit('update:modelValue', value)
        }
      },
      classObject:function(){
        let classObject={}
        if(Array.isArray(this.errors) && this.errors.length>0){
          classObject["atom-error"]=true
        }
        return classObject
      }
    }
}
</script>


<style scoped >

.atom-input-container {
  position: relative;
  padding: 0.8rem 0 0;
  width: 100%;
}

.atom-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--border-color0);
  outline: 0;
  font-size: 0.8rem;
  color: var(--bg-color2);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .atom-input-label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}


.atom-input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--text-color0);
}


.atom-input:disabled:hover {
  cursor:not-allowed;
}

.atom-input:focus:not(.atom-error),.atom-input-container:hover:not(.atom-error) .atom-input:not(:disabled) {
  ~ .atom-input-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: var(--input-primary);
  }
  padding-bottom: 6px;
  border-width: 3px;
  border-bottom: 2px solid var(--border-color0);
  border-image: linear-gradient(to right, var(--input-primary),var(--input-secondary));
  border-image-slice: 1;
}

.atom-input:focus:not(.atom-error){
  & .atom-input-label-inline {
    color: var(--input-primary);
  }
}

.atom-error{
  & .atom-input-label{
    color:var(--color-error);
  }
  & .atom-input{
  border-bottom: 2px solid var(--color-error);
  }
  & .atom-input-error-msg{
    color:var(--color-error);
    font-size:var(--text-size0)
  }
}
</style>