<template>
    <router-link v-if="to" :to="to">
        <button class="atom-button">
            <slot />
        </button>
    </router-link>
    <button  v-else v-bind="$attrs" class="atom-button"><slot /></button>
</template>

<script>
export default {
    props:{
        to:{type:String}
    }
}
</script>
<style scoped >

.atom-button{
    border: none;
    background-color: var(--button-bg);
    cursor: pointer;
    color:var(--button-color0);
    padding: 0.35rem 0.8rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    border-radius: 2px;
    cursor: pointer;
}

  :hover.atom-button{
    background-color: var(--button-bg-hover);
  }

  :disabled.atom-button{
    background-color: var(--button-bg-disabled);
    cursor: not-allowed;
}
</style>