<template>
    <Teleport to="body">
        <div v-if="open" class="atom-modal-container">
            <div class="atom-modal">
                <div class="atom-modal-header">
                    <slot name="header"><div></div></slot>
                    <close-icon v-if="closeIcon" class="atom-card-close-icon" fillColor="white" @click="close" />
                </div>
                <div class="atom-modal-body"><slot/></div>
            </div>
        </div>
    </Teleport>
</template>

<script>
import CloseIcon from "vue-material-design-icons/Close.vue"

export default {
     emits: ['close'],
    components:{
        CloseIcon
    },
    props:{
        closeIcon:{type:Boolean},
        open:{type:Boolean,default:false},
    },
    methods:{
        close:function(){
            this.$emit('close')
        }
    }
}
</script>

<style scoped>
.atom-modal-container{  
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    height: 100%;
    z-index: 998;
    
    overflow: auto;
}


.atom-modal-container:before{
    display:block;
    content:" ";
    position:absolute;
    z-index:998;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.5;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color0);
    opacity:0.7;
}  

.atom-modal {
    background-color: var(--bg-color1);
    position:absolute;
    z-index: 999;
    top: 20%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    border-radius: 4px; 
}

.atom-modal-header{
    display: flex;
    margin: 0.5rem ;
    align-items: center;
    justify-content: space-between;
}

.atom-modal-close-icon{
    cursor:pointer;
}

.atom-modal-body{
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 275px;
    padding: 0.5rem 2rem; 
}
</style>