<template>
    <p v-if="p" :class="colorClass" :color="color" class="atom-text"><slot /></p>
    <span v-else :class="colorClass" :color="color" class="atom-text"><slot /></span>
</template>

<script>
export default {
    props:{
        color:{type:Number},
        error:{type:Boolean},
        p:{type:Boolean,default:false}
    },
    computed:{
        colorClass:function(){
            let colorClass={}
            if(this.error){
                colorClass["atom-text-color-6"]=true
            }else{
                if(this.color ==='number'){
                    colorClass[`atom-text-color-${this.color}`]=true
                }
            }
            return colorClass
        }
    }
}
</script>

<style scoped >

.atom-text{
    color: var(--text-color0);
}

.atom-text-color-0{
    color:var(--text-color0)
}

.atom-text-color-1{
    color:var(--text-color1)
}

.atom-text-color-2{
    color:var(--text-color2)
}

.atom-text-color-3{
    color:var(--text-color3)
}

.atom-text-color-4{
    color:var(--text-color4)
}

.atom-text-color-5{
    color:var(--text-color5)
}

.atom-text-color-6{
    color:var(--text-color6)
}

</style>