<template>
    <div class="atom-card">
        <div class="atom-card-header">
            <slot name="header"><div></div></slot>
            <close-icon v-if="closeIcon" class="atom-card-close-icon" @click="close" fillColor="white"/>
        </div>
        <div class="atom-card-body"><slot/></div>
    </div>
</template>

<script>
import CloseIcon from "vue-material-design-icons/Close.vue"

export default {
    components:{
        CloseIcon
    },
    props:{
        closeIcon:{type:Boolean}
    },
    methods:{
        close:function(){
            this.$emit('close')
        }
    }
}
</script>

<style >
    .atom-card{
        background-color: var(--bg-color1);
        box-shadow:  0 4px 4px 0 var(--bg-color1); 
        border-radius:3px ;
        display: flex;
        flex-direction: column;
    }
    
    .atom-card-header{
        display: flex;
        margin: 0.5rem ;
        align-items: center;
        justify-content: space-between;
    }
    
    .atom-card-close-icon{
        cursor:pointer;
    }

    .atom-card-body{
        display: flex;
        flex-direction: column;
        flex:1;
        min-width: 275px;
        padding: 0.5rem 2rem; 
    }
</style>