<template>
    <div>
        <folder v-for="(folder, name) in folders.folders" class="mt-1" :folder="folder" :name="name" @upload-file="uploadFile" @delete-folder="deleteFolder" @delete-file="deleteFile" @click="toggleFolder(name)" :openFolders="openFolders" :key="name" ></folder>
        <file @click.stop="selectFile(file)" :isReadOnly="true" :name="fileName" :file="file" :key="fileName" v-for="(file,fileName) in folders.files"></file>
         <teleport to="body">
            <multiple-file-upload-modal @close="closeModal" :path="folderPath" :open="isModalOpen"></multiple-file-upload-modal>
        </teleport> 
         <teleport to="body">
            <delete-modal :description="deleteDescription" @close="closeDeleteModal" @delete-confirm="deleteConfirm" :open="isDeleteModalOpen"></delete-modal>
        </teleport> 
    </div>
</template>

<script setup lang="ts">

import { reactive ,ref} from 'vue'

import MultipleFileUploadModal from "@/components/molecule/MultipleFileUploadModal.vue"
import DeleteModal from "@/components/molecule/DeleteModal.vue"
import {useGameProject} from "@/stores/gameProject"
import File from "@/components/molecule/File.vue"
import Folder from "@/components/molecule/Folder.vue"

const props = defineProps({
  folders:{type:Object}
})

const gameProject =  useGameProject()
const openFolders = reactive({})
const isModalOpen =ref(false)
const isDeleteModalOpen =ref(false)
const folderPath =ref("")
const deleteConfirm=ref(null)
const deleteDescription=ref("")

function toggleFolder(name){
    if(openFolders[name]===true){
        delete openFolders[name]
    }else{
        openFolders[name]=true
    }
}

function uploadFile(foldersList){
    isModalOpen.value=true
    folderPath.value=foldersList.join('/')
}

function closeModal(){
    isModalOpen.value=false
    folderPath.value=""
}

function closeDeleteModal(){
    isDeleteModalOpen.value=false
    deleteConfirm.value =null
}

function selectFile(file){
    gameProject.selectFile(file)
}

function deleteFile(foldersList){
    isDeleteModalOpen.value=true
    let path='/'+foldersList.join('/')
    deleteDescription.value="folder :"+path
    deleteConfirm.value =()=>{
        gameProject.deleteFile(path)    
        closeDeleteModal()
    }
}

function deleteFolder(foldersList){
    isDeleteModalOpen.value=true
    let path='/'+foldersList.join('/')
    deleteDescription.value="folder :"+path
    deleteConfirm.value =()=>{
        gameProject.deleteFolder(path)
        closeDeleteModal()
    }
}

</script>

<style >

</style>