<template>
    <footer class="footer">
        <atom-text>Copyright © 2022 HOTDEV.io, All rights reserved.</atom-text>
    </footer>
</template>

<style >

    .footer{
        display: block;
        height: 30px;
        width:100%;
        background: var(--bg-color0);
        color:  var(--text-color0);
        border-top:1px solid var(--border-color0);
    }
  
</style>