<template>
    <div>
        <atom-header :level="5">Scene graph</atom-header>
        <atom-box class="pointer" @click="addScene"><plus-icon class="mr-2"/><atom-text>Create a new scene</atom-text></atom-box>
        <atom-select v-model="selected" :options="options"></atom-select>
    </div>
</template>

<script>
import PlusIcon from "vue-material-design-icons/PlusCircleOutline"
export default {
    components:{PlusIcon},
    props:{
        sceneIndex:{type:Number},
        scenes:{}
    },
    data(){
        return {
            selected:null
        }
    },
    methods:{
        addScene:function(){
            
        }
    },
    computed:{
        options:function(){
            return []
        }
    }
}
</script>

<style >
 
</style>