<template>
  <atom-box class="header justify-between">
      <router-link to="/">
        <atom-header class="ml-2" :level="1">gameEngine</atom-header>
      </router-link>
      <atom-nav>
         <atom-nav-item v-if="user.isConnected" to="/profil">profil</atom-nav-item>
          <atom-nav-item to="/projects">Explore</atom-nav-item>  
      </atom-nav>
      <atom-box class="mr-2">
          <template v-if="user.isConnected">
            <power-standby class="pointer"  fillColor="white" @click="logout"/>
          </template>
          <template v-else>
            <atom-button class="mr-4" to="/sign-up">Register</atom-button>
            <atom-button class="mr-2" to="/sign-in">Log in</atom-button>
          </template>
      </atom-box>
  </atom-box> 
</template>

<script>
import PowerStandby from 'vue-material-design-icons/PowerStandby.vue';
import { useUser } from "@/stores/user";

export default {
  components: {
    PowerStandby
  },
  setup() {
    const user =  useUser()
    return {user:user}
  },
  methods:{
      logout(){
        this.user.logout()
      }
  }
}
</script>

<style >

  .header{
    height: 70px;
    align-items: center;
    background: var(--bg-color1);
  }

</style>