<template>
    <div v-if="gameProject.isReady" class="level-view">
        <atom-box class="items-center">
            <atom-header :level="5">Level graph</atom-header>
            <plus-icon class="pointer flex ml-2" v-if="!creating" @click="showCreateForm"/>
            <save-icon v-if="gameProject.levelBlueprintFile" @click="saveLevel" class="pointer flex ml-2"></save-icon>
        </atom-box>
        <atom-box col v-if="creating">
            <atom-input name="New level name" v-model="newLevelName"></atom-input>
            <atom-box class="mt-2"><atom-button class="mr-4" @click="addLevel">Create</atom-button> <atom-button @click="hideCreateForm">Cancel</atom-button></atom-box>
        </atom-box>
        <!--First level tip-->
        <atom-box v-else-if="!creating && gameProject.levels.length===0" class="mt-4 pointer" @click="showCreateForm"><plus-icon class="mr-2"/><atom-text>Create the first level</atom-text></atom-box>
        <!--End first level tip-->
        <atom-box class="items-center" v-if="gameProject.levels.length>0"> 
            <sitemap-icon class="mr-2"/> 
            <atom-select class="my-2 mr-4" v-model="gameProject.selectedLevel" placeholder="Select level" :options="gameProject.levels"></atom-select>
       </atom-box>
       <level-graph v-if="gameProject.levelBlueprintFile" :selectedScene="gameProject.selectedScene" :level="gameProject.levelBlueprint"></level-graph>
    </div>
</template>

<script lang="ts">
import SitemapIcon from "vue-material-design-icons/Sitemap.vue"
import PlusIcon from "vue-material-design-icons/PlusCircleOutline.vue"
import SaveIcon from "vue-material-design-icons/ContentSaveOutline.vue"
import {useGameProject} from "@/stores/gameProject"
import LevelGraph from "@/components/Organism/LevelGraph.vue"

export default {
    components:{PlusIcon,SitemapIcon,LevelGraph,SaveIcon},
    props:{
        levelIndex:{type:Number},
    },
    data(){
        return {
            creating:false,
            newLevelName:""
        }
    },
    setup() {  
        const gameProject =  useGameProject()
        return {gameProject}
    },
    methods:{
        showCreateForm:function(){
            this.creating=true;
        },
        hideCreateForm:function(){
            this.creating=false;
        },
        addLevel: async function(){
            if(this.gameProject.isReady && this.newLevelName!==''){
                await this.gameProject.addLevel(this.newLevelName)
                this.creating=false
                this.newLevelName=''
            }
        },
        saveLevel:async function(){
            if(this.gameProject.isReady && this.gameProject.levelBlueprint && !this.creating){
                await this.gameProject.saveLevel()
            }
        }
    },
    computed:{
        options:function(){
            return []
        },
        selectedLevel:function(){
            return this.gameProject.selectedLevel
        }
    },
    watch:{
        selectedLevel:function(value){
            this.gameProject.selectLevel(value)
            console.log("select level:"+value)
        }
    }
}
</script>

<style >
 .level-view{
     max-width: 350px;
 }
</style>