<template>
    <aside class="sidebar">
        <slot></slot>
    </aside>
</template>

<style >

    .sidebar{
        display: flex;
        overflow: auto;
        min-width:300px;
        background: var(--bg-color0);
        color: var(--text-color0);
        border-right:1px solid var(--border-color0);
        border-left:1px solid var(--border-color0);
    }
  
</style>