<template>
    <div class="relative h-full w-full">
        <preview-viewer v-if="gameProject.levelInstance && viewType==='preview'" :gameState="gameProject.gameState" :level="gameProject.levelInstance"></preview-viewer>
        <level-viewer v-else-if="gameProject.levelInstance" :gameState="gameProject.gameState" :level="gameProject.levelInstance"></level-viewer>
        <div v-if="gameProject.levelInstance && gameProject.levelInstance.camera" class="top-0 absolute">{{gameProject.levelInstance.camera.node.matrix}}</div>
        <ace-editor :file="gameProject.selectedFile" v-else-if="viewType==='textFile'"></ace-editor>
    </div>
</template>

<script setup lang="ts">
import {useGameProject} from "@/stores/gameproject";
import LevelViewer from '@/components/organism/LevelViewer.vue';
import PreviewViewer from '@/components/organism/PreviewViewer.vue';
import AceEditor from '@/components/organism/AceEditor.vue';
const gameProject=useGameProject();

const props=defineProps({
    viewType:{type:String}
})

</script>
