<template>
  <div class="app">
    <app-layout>
      <router-view/>
    </app-layout>
  </div>
</template>

<script setup>
  import 'windi.css';
  import { useUser } from "@/stores/user";
  import AppLayout from "@/layouts/AppLayout.vue";
  useUser().getProfil()
</script>

<style lang="scss">

@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/app.scss';
@import '@/assets/styles/reset.css';

#app{
    height: 100%;
}
.app{
    height: 100%;
}
</style>