<template>
  <div class="project flex flex-1 justify-between">
      <!-- <atom-text v-if="pending">Fetching project : {{ $route.params.projectId }}...</atom-text>
      <atom-text v-else-if="error">An error occurred :(</atom-text> -->
      <sidebar>
        <atom-box :full="true">
            <atom-box :col="true" class="project-sidebar-nav">
              <span @click="selectView('level')"><controller-classic-icon class="pointer p-2" :size="38"/></span>
              <span v-if="editorView.type!=='folder'"  @click="selectView('folder')"><folder-icon class="pointer p-2" :size="38"/></span>
              <folder-open-icon v-else class="pointer p-2" :size="38" />
              <span @click="selectView('search')"><search-icon class="pointer p-2" :size="38"/></span>
              <span @click="selectView('preview')"><play-circle-outline-icon  class="pointer p-2" :size="38"/></span>
              <span @click="exportProject"><export-icon  class="pointer p-2" :size="38"/></span>
            </atom-box>
            <atom-box :col="true" class="project-sidebar-view">
              <atom-header :level="1">{{ project.name}}</atom-header>
              <div>
                <level-view v-if="editorView.type==='level'"></level-view>
                <folder-view v-else-if="editorView.type==='folder'" :folders="project.folders" ></folder-view>
                <preview-view v-else-if="editorView.type==='preview'"></preview-view>
                <span v-else >{{editorView.type}}</span>
              </div>
            </atom-box>
          </atom-box>
      </sidebar>
      <main class="flex flex-1">
        <viewer :viewType="editorView.type"></viewer>
      </main>
      <editor-right-sidebar></editor-right-sidebar>
   
  </div>
</template>

<script lang="ts">
import FolderIcon from 'vue-material-design-icons/Folder.vue';
import SearchIcon from 'vue-material-design-icons/Magnify.vue';
import FolderOpenIcon from 'vue-material-design-icons/FolderOpen.vue';
import PlayCircleOutlineIcon from 'vue-material-design-icons/PlayCircleOutline.vue';
import ControllerClassicIcon from 'vue-material-design-icons/ControllerClassic.vue';
import ExportIcon from 'vue-material-design-icons/DatabaseExport.vue';
import Sidebar from '@/components/Sidebar.vue';
import Viewer from '@/components/Viewer.vue';
import LevelView from '@/components/LevelView.vue';
import FolderView from '@/components/FolderView.vue';
import EditorRightSidebar from '@/components/Organism/EditorRightSidebar.vue';
import PreviewSidebar from '@/components/Organism/PreviewSidebar.vue'

import { useProjectDetail } from "@/stores/projectDetail";
import { useGameProject} from  "@/stores/gameProject";
import { useEditorView} from  "@/stores/editorView";
import { useRoute } from "vue-router";
import { ref } from 'vue';

export default {
  name:"EditorHome",
  components:{
    FolderIcon,
    ExportIcon,
    SearchIcon,
    PlayCircleOutlineIcon,
    FolderOpenIcon,
    ControllerClassicIcon,
    Sidebar,
    Viewer,
    LevelView,
    FolderView,
    PreviewSidebar,
    EditorRightSidebar,
},
  methods:{
    selectView:function(type){
      useEditorView().selectView(type)
    },
    exportProject(){
      useGameProject().export()
    }
  },
  setup() {    
    const route = useRoute()
    const projectDetail = useProjectDetail()
    projectDetail.retrieveProjectDetail(route.params.projectId)
    const editorView= useEditorView()
    return {project:projectDetail,editorView}
  }
}

</script>
 <style>
 
 .project{
      height: 100%;
 }
 .project-sidebar{
   display: flex;
 }
 .project-sidebar-nav{
    min-height: 100%;
    min-width:40px;
    background:  var(--bg-color0);
    color: var(--text-color0);
    border-right:1px solid var(--border-color0);
 }

 .project-sidebar-view{
    padding: 0 1rem;
    min-height: 100%;
    min-width:300px;
    background:  var(--bg-color0);
    color: var(--text-color0);
    border-right:1px solid var(--border-color0);
 }

 </style>