<template>
    <div class="ace-editor-container">
          <pre class="ace-editor" ref="aceEditor" @keyup.delete="updateContentCopyValue()" @keydown.ctrl.83.prevent="saveElement()" @keyup.ctrl="updateContentCopyValue()" @input="updateContentCopyValue()"></pre>
    </div>
</template>

<script setup lang="ts">
    import 'ace-builds/src-noconflict/ace';
    import "ace-builds/src-noconflict/worker-json";
    import 'ace-builds/src-noconflict/mode-javascript';
    import 'ace-builds/src-noconflict/theme-tomorrow_night';
    import workerJsonUrl from 'ace-builds/src-noconflict/worker-json?url'; // For vite

    import { onMounted, ref} from 'vue';

    ace.config.setModuleUrl('ace/mode/json_worker', workerJsonUrl);

    let editor= ref(null)
    const aceEditor = ref(null)

    const props=defineProps({
        file:Object
    })

    const updateContentCopyValue = ()=>{
        console.log("update")
    }

    const saveElement = ()=>{
        gameProject.saveFile(file,editor.session.getValue())
    }
    const setText=async ()=>{
        let test = ""
        text = props.file.content instanceof Blob ? props.file.content.text(): JSON.stringify(props.file.content);
        editor.session.setValue(text)
        editor.resize()
    }

    onMounted(()=>{
        editor =  ace.edit(aceEditor.value, {
            theme: "ace/theme/tomorrow_night",
            mode: "ace/mode/javascript",
            wrap: false,
            useWorker: false
        })
        setText()
       
    })

    // onUnmounted(()=>{
    
    // });
  
</script>

<style scoped>
.ace-editor-container{
    width: 100%;
    height: 100%;    
}

.ace-editor{
    height: 100%;
}
</style>