<template>
    <sidebar v-if="gameProject.focus">
        <atom-box :full="true">
            <node-editor :level="gameProject.levelBlueprint" :index="gameProject.selectedNode" :node="node">
            </node-editor>
        </atom-box>
    </sidebar>
</template>

<script setup lang="ts">
    import {computed} from "vue"
    import Sidebar from '@/components/Sidebar.vue';
    import NodeEditor from '@/components/Organism/NodeEditor.vue';
    import {useGameProject} from "@/stores/gameProject"

    const gameProject = useGameProject()
    const node = computed(()=>{
        return gameProject.levelBlueprint.nodes[gameProject.selectedNode]
    })

</script>