<template>
     <div class="level-viewer" ref="viewer"></div>
</template>

<script setup lang="ts">
import { onMounted, onUnmounted, onUpdated, ref } from 'vue';

import EditorGameEngine from "@/editorEngine/EditorGameEngine";

const props=defineProps({
    level:{type:Object},
    gameState:{type:Object}
})
// declare a ref to hold the element reference
// the name must match template ref value
const viewer = ref(null)
let editorEngine=ref(null)

onMounted(() => {
    //editorEngine.container=viewer.value;
    editorEngine=new EditorGameEngine({container:viewer.value,level:props.level,gameState:props.gameState})
})

onUpdated(() => {
    // editorEngine.destroy();
    // editorEngine=new EditorGameEngine({container:viewer.value,level:props.level,gameState:props.gameState})
})

onUnmounted(() => editorEngine.destroy())
</script>
<style>
.level-viewer{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
</style>