<template>
    <atom-box col>
        <div>defaultScene: {{level.scene}}</div>
        <atom-box class="items-center">scene: <atom-select class="my-2 mr-4" v-model="selected" placeholder="Select scene" :options="scenesOption"></atom-select></atom-box>
        <scene-details v-if="typeof selectedScene==='number'" :scene="level"></scene-details>
        <scene-graph v-if="typeof selectedScene==='number'" :scene="level" :nodeIndexes="level.scenes[selectedScene].nodes"></scene-graph>
    </atom-box>
</template>

<script setup lang="ts">
import Level from "core-web-engine/blueprints/Level.js"
import SceneGraph from "@/components/Molecule/Scene/SceneGraph.vue"
import SceneDetails from "@/components/Molecule/SceneDetails.vue"
import { computed,reactive,ref,watch } from "vue";

const {level,selectedScene} = defineProps({
  level: Level,
  selectedScene:Number
})

let selected = reactive(null)

let selectedSceneRef=ref(selectedScene)
watch(() => selectedSceneRef, (value, old) => {
  console.log(
    "Watch props.selected function called with args:",
    value,
    old
  );
  selected=value
},{immediate:true});


watch(selected, (value, old) => {
  console.log(
    "Watch selected :",
    value,
    old
  );
  
})

const scenesOption = computed({
  get(){
    return Array.from(Array(level.scenes.length).keys()) 
  }
})

</script>