<template>
    <atom-box col>        
        translation:
        <vec-editor :vec="transformation.translation" @update="({index,value})=>updateVec('translation',index,value)"></vec-editor>
        rotation:
        <vec-editor :vec="transformation.eulerRotation" @update="({index,value})=>updateRotation(index,value)"></vec-editor>
        scale:
        <vec-editor :vec="transformation.scale" @update="({index,value})=>updateVec('scale',index,value)"></vec-editor>
    </atom-box>
</template>

<script setup lang="ts">
import * as m4 from "core-web-engine/maths/m4" 
import { computed } from "vue";
import VecEditor from "@/components/Molecule/VecEditor.vue"
import {toEuler,toQuaternion} from "core-web-engine/maths/quaternion"


const props = defineProps({
    node:{type:Object},
    index:{type:Number},
    level:{type:Object}
})


const isTRS =computed(()=>{
    if(props.node.matrix){
        return false
    }else if(props.node.translation || props.node.scale || props.node.rotation){
        return true
    }else{
        return false
    }
})

const transformation= computed(()=>{
    if(isTRS.value){
        let rotation=props.node.rotation??[0,0,0,1];
        
        let eulerRotation=toEuler(rotation)
        return {eulerRotation,rotation,scale:props.node.scale??[1,1,1],translation:props.node.translation??[0,0,0]}
    }else{
        
        let translation =[0,0,0]
        let rotation =[0,0,0,1]
        let scale =[0,0,0]
        if(props.node.matrix){    
            m4.decompose(m4.copy(props.node.matrix),translation,rotation,scale)
        }else{
            m4.decompose(m4.identity(),translation,rotation,scale)
        }
        rotation=rotation.map((num)=>+num.toFixed(2))
        translation=translation.map((num)=>+num.toFixed(4))
        scale=scale.map((num)=>+num.toFixed(2))
        let eulerRotation=toEuler(rotation)
        eulerRotation=eulerRotation.map((num)=>+num.toFixed(0))
        return {rotation,eulerRotation,translation,scale}
    }
})

const emit = defineEmits(['update'])

const updateNode=function(attr,value){
    emit('update',{attr,value})
}

const updateRotation=function(index,value){
 let numberValue=parseFloat(value)
    if(!isNaN(numberValue)){
        const transformationCopy=transformation.value
        transformationCopy.eulerRotation[index]=numberValue
        transformationCopy.rotation=toQuaternion(transformationCopy.eulerRotation)
        if(isTRS.value){
            updateNode("rotation",transformationCopy["rotation"])
        }else{
            updateNode('matrix',m4.compose(transformation.value.translation,transformationCopy.rotation,transformation.value.scale))
        }
    }
}

const updateVec=function(vecType,index,value){
    let numberValue=parseFloat(value)
    if(!isNaN(numberValue)){
        const transformationCopy=transformation.value
        transformationCopy[vecType][index]=numberValue
        if(isTRS.value){
            updateNode(vecType,transformationCopy[vecType])
        }else{
            let translation=vecType==='translation'?transformationCopy.translation:transformation.value.translation
            let scale=vecType==='scale'?transformationCopy.scale:transformation.value.scale
            updateNode('matrix',m4.compose(translation,transformation.value.rotation,transformationCopy.scale))
        }
    }
}

</script>