<template>
    <atom-box col full class="m-2">
        <atom-header :level="5">Node {{index}}</atom-header>
        <atom-input name="name" v-model="node.name"></atom-input>
        <atom-text>children: </atom-text>
        <div>
            [
            <atom-text :p="true" class="flex truncate" v-for="(child,index) in node.children">
            <span @click.stop.prevent="deleteChild(index)"><delete-icon class="pointer flex ml-2"/> </span>:{{(typeof child ==='number')?child:child.uri}}
            </atom-text>
            ]
        </div>
        <matrix-editor @update="updateTransformation" :node="node"></matrix-editor>
        <atom-box>
            meshes {{node.mesh}}   
            <plus-icon class="pointer flex ml-2" v-if="!addingMesh" @click="showAddMeshForm"/>
            <delete-icon class="pointer flex ml-2" v-if="!addingMesh" @click="deleteMesh"/>
        </atom-box>
         <div v-if="addingMesh">
          <atom-text> select mesh :</atom-text><atom-select  :customLabel="true" v-model="selectedMesh" :options="optionsMesh"></atom-select>
          <atom-box class="my-2">
            <atom-button class="mx-2" @click.stop.prevent="updateMesh">Select</atom-button>
            <atom-button class="mx-2" @click.stop.prevent="closeAddMeshForm">Cancel</atom-button>
          </atom-box>
        </div>
        <atom-box>
            gltf {{node.gltf}}   
            <plus-icon class="pointer flex ml-2" v-if="!addingGltf" @click="showAddGltfForm"/>
        </atom-box>
         <div v-if="addingGltf">
          <atom-text> select gltf :</atom-text><atom-select :customLabel="true" v-model="selectedGltf" :options="optionsGltf"></atom-select>
          <atom-box class="my-2">
            <atom-button class="mx-2" @click.stop.prevent="updateGltf">Select</atom-button>
            <atom-button class="mx-2" @click.stop.prevent="closeGltfForm">Cancel</atom-button>
          </atom-box>
        </div>
        <atom-box>
            pools {{node.pools}}   
            <plus-icon class="pointer flex ml-2" v-if="!addingPools" @click="showAddPoolsForm"/>
        </atom-box>
         <div v-if="addingPools">
          <atom-text> select pools :</atom-text><atom-select :customLabel="true" v-model="selectedPools" :options="optionsPools"></atom-select>
          <atom-box class="my-2">
            <atom-button class="mx-2" @click.stop.prevent="updatePools">Select</atom-button>
            <atom-button class="mx-2" @click.stop.prevent="closePoolsForm">Cancel</atom-button>
          </atom-box>
        </div>
        <component-node-editor :node="node"></component-node-editor>
         <!-- <atom-box col v-if="node.mesh!==undefined">
            <div v-if="node.material">
              <span>override material :  {{node.material}}</span> 
             
            </div>  
            <div v-else>
                <span v-if="mesh.material"> 
                      <span>material :</span> {{mesh.material}}
                </span>
                <span v-else > mesh have no defined material</span>
            </div>  
             <plus-icon class="pointer flex ml-2" v-if="!addingGltf" @click="showAddGltfForm"/> 
        </atom-box> -->
         <!-- <div v-if="addingGltf">
          <atom-text> select material :</atom-text><atom-select :customLabel="true" v-model="selectedGltf" :options="optionsGltf"></atom-select>
          <atom-box class="my-2">
            <atom-button class="mx-2" @click.stop.prevent="updateGltf">Select</atom-button>
          </atom-box>
        </div> -->
        <!-- {{node}} -->
    </atom-box>    

</template>

<script setup lang="ts">
    
import { computed, ref } from "vue";
import PlusIcon from "vue-material-design-icons/PlusCircleOutline.vue"
import DeleteIcon from "vue-material-design-icons/TrashCanOutline.vue";
import MatrixEditor from "./MatrixEditor.vue"
import {useGameProject} from "@/stores/gameProject"
import {useProjectDetail} from "@/stores/projectDetail"
import ComponentNodeEditor from "@/components/Molecule/ComponentNodeEditor.vue"

const props = defineProps({
    node:{type:Object},
    index:{type:Number},
    level:{type:Object}
})

const addingPools=ref(false)
const addingGltf=ref(false)
const addingMesh=ref(false)
const selectedMesh=ref(null)
const selectedGltf=ref(null)
const selectedPools=ref(null)

let projectDetail = useProjectDetail()
let gameProject = useGameProject()

const optionsMesh= computed(()=>{
    return props.level.meshes.map((mesh,index)=>{
        return {label:index+":"+mesh.name,value:index}
    })
})

const optionsGltf= computed(()=>{
    let gltfFiles =Object.values(projectDetail.files).filter((file)=>{
        return file.name.toLowerCase().endsWith(".gltf")
    }).map((file)=>{return {label:file.name,value:file}})
    return gltfFiles
})


const optionsPools= computed(()=>{
    let poolsFiles =Object.values(projectDetail.files).filter((file)=>{
        return file.name.indexOf('/pools/')!==-1
    }).map((file)=>{return {label:file.name,value:file}})
    return poolsFiles
})

const mesh= computed(()=>{
    let node =props.node
    if(node && node.mesh !==undefined){
        if(typeof node.mesh ==="number"){
            return props.level.meshes[node.mesh]
        }else{
            console.warn('not implemented yet')
        }
        
    }
    return null
})

const showAddMeshForm=()=>{
    addingMesh.value=true
    selectedMesh.value=null
}

const showAddGltfForm=()=>{
    addingGltf.value=true
    selectedGltf.value=null
}

const showAddPoolsForm=()=>{
    addingPools.value=true
    selectedPools.value=null
}

const closeAddMeshForm=()=>{
    addingMesh.value=false
}

const closeGltfForm=()=>{
    addingGltf.value=false
}

const closePoolsForm=()=>{
    addingPools.value=false
}

const updateMesh=()=>{
    addingMesh.value=false;
    props.level.addMeshToNode(props.index,selectedMesh.value)
    closeAddMeshForm()
    gameProject.updateScene()
}

const updateGltf=()=>{
    addingGltf.value=false;
    props.level.addGltfToNode(props.index,selectedGltf.value.value)
    gameProject.updateScene()
}

const updatePools=()=>{
    addingPools.value=false;
    props.level.addPoolsToNode(props.index,selectedPools.value.value)
    gameProject.updateScene()
}

const deleteChild=(childIndex)=>{
    props.level.deleteNodeChild(props.index,childIndex)
    gameProject.updateScene()
}

const deleteMesh=()=>{
    props.level.deleteMesh(props.index)
    gameProject.updateScene()
}

const updateTransformation=({attr,value})=>{
    props.level.updateNodeTransformation(props.index,attr,value)
    gameProject.updateNodeTransformation(props.index)
}



</script>
