<template>
    <div class="preview-viewer" >
        <div :class="{'preview-viewer-fullscreen':isFullscreen}" ref="viewer"></div>
    </div> 
</template>

<script setup lang="ts">
import { onMounted, onUnmounted, ref } from 'vue';

import GameEngine from "game-engine";

const props=defineProps({
    level:{type:Object},
    gameState:{type:Object}
})

const viewer = ref(null)
let gameEngine=ref(null)
let isFullscreen=ref(false)

// const forceResize=(event)=>{
//     const boundingRect =viewer.value.getBoundingClientRect()
//     let width=boundingRect.width;
//     let height=boundingRect.height;
//     viewer.$el.style.width=width
//     viewer.$el.style.height=height
// }


// const toggleFullscreen=(event)=>{
    
//     isFullscreen.value=!isFullscreen.value
    
//     if(!isFullscreen.value){
//         forceResize()
//     }
    
// }

const loadLevel=function(){
    gameEngine.value=new GameEngine({container:viewer.value,level:props.level,gameState:props.gameState,loadLevel})
}

onMounted(() => {    
    loadLevel()
})

onUnmounted(() => gameEngine.value.destroy())
</script>

<style scoped>
.preview-viewer{

}

.preview-viewer-button{
    

}

.preview-viewer-fullscreen{
    background:black;
    position:absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
</style>