<template>
    <template v-for="project in projects" :key="project.name"> 
        <project-card :readOnly="true" :project="project" ></project-card>
    </template> 
</template>

<script lang="ts">

import ProjectCard from "@/components/molecule/ProjectCard.vue"

export default {
    props:{
        projects:{type:Object}
    },
    components:{
        ProjectCard
    }
}
</script>