<template>
    <atom-box class="flex-wrap justify-start">
        <atom-card v-on:keydown.enter.prevent='handleSubmit' :closeIcon="creating" @close="stopCreating" class="m-2">
            <template v-if="creating" v-slot:header>
                <atom-header :level="3">New project</atom-header>
            </template>
            <template v-if="!creating">
              <atom-box col full class="justify-center">
                <atom-button  @click="creating = true"><plus-circle-icon class="p-2" :size="38"></plus-circle-icon>Create </atom-button>
              </atom-box>
            </template>
            <template v-else>
              <atom-input :errors="v$?.projectName?.$errors" name="name" v-model="projectName"></atom-input>
              <atom-input class="mt-2" :errors="v$?.projectDescription?.$errors" name="Description" v-model="projectDescription"></atom-input>
              <atom-button class="mt-4" @click="handleSubmit">Create</atom-button>
            </template>  
        </atom-card>
        <template v-for="project in user.projects" :key="project.name"> 
          <project-card @deleteProject="deleteProject" :project="project" ></project-card>
        </template> 
    </atom-box>
</template>

<script>

import CloseIcon from "vue-material-design-icons/Close.vue"
import PlusCircleIcon from "vue-material-design-icons/PlusCircle.vue"
import useVuelidate from '@vuelidate/core'
import { required  } from '@vuelidate/validators'
import { useUserProjects } from "@/stores/userProjects";
import ProjectCard from "@/components/molecule/ProjectCard.vue"

export default {
    props:{
        user:{type:Object}
    },
    components:{PlusCircleIcon,CloseIcon,ProjectCard},
   setup () {
      return { v$: useVuelidate(), userProjects:useUserProjects()}
    },
    data(){
        return {
        creating:false,
        projectName:'',
        projectDescription:'',
        }
    }, 
    validations () {
      return {
        projectName: { required },
        projectDescription: { required }
      }
    },
    methods:{
      deleteProject(project){
        this.userProjects.remove(project)
      },
      stopCreating(){
        this.creating=false;
        this.projectName='';
        this.projectDescription='';
      },
      handleSubmit(e) {

          if(this.creating){
              
            // stop here if form is invalid
            this.v$.$touch();
            if (this.v$.$invalid) {
              
                console.log("error",this.v$)
                return;
            }
            let project ={
              name:this.projectName,description:this.projectDescription
            }

            this.createProject(project)
          }
      }, 
      async createProject(project){

        this.userProjects.create(project)
        
        this.stopCreating()
      }
  }
};
</script>