$dev--color-color-dark :#21252b;
$dev--color-color-dark-fade:#282c34;
$dev--color-color-darker:black;

$dev--color-color-light :#ffffff;
$dev--color-color-light-fade:rgba(255, 254, 254, 0.27);


$dev--color-color-grey :#464d54;


$dev--color-color0 : #9da5b4;
$dev--color-color0-fade : rgba(157, 165, 180, 0.6);

$dev--color-color1 : #185F99;
$dev--color-color1-fade : #d7dae0aa;

$dev--color-color2 : #3771e6;
$dev--color-color2-dark : #2f73be;
$dev--color-color2-light : #4f89ff;
$dev--color-color2-fade : #3771e6aa;

$dev--color-color3-dark: #11998e;
$dev--color-color3: #119960;
$dev--color-color3-fade:#119960aa;
$dev--color-color3-light: #09993C;

$dev--color-color4-dark: #11998e;
$dev--color-color4: #11998E;
$dev--color-color4-fade:#119960aa;
$dev--color-color4-light: #09993C;

$dev--color-color5-dark: #11998e;
$dev--color-color5: #995E02;
$dev--color-color5-fade:#119960aa;
$dev--color-color5-light: #09993C;

$dev--color-color6-dark: #11998e;
$dev--color-color6: #992420;
$dev--color-color6-fade:#119960aa;
$dev--color-color6-light: #09993C;

$dev--color-color2-save : #4691f6;
$dev--color-color2-save-fade : #4691f6aa;


$dev--font-size-1:1.1rem;
$dev--font-size-2:1rem;
$dev--font-size-3:0.9rem;
$dev--font-size-4:0.8rem;
$dev--font-size-5:0.7rem;
$dev--font-size-6:0.6rem;

$dev--header-font-size-1:2.1rem;
$dev--header-font-size-2:2rem;
$dev--header-font-size-3:1.7rem;
$dev--header-font-size-4:1.4rem;
$dev--header-font-size-5:1.2rem;
$dev--header-font-size-6:1.0rem;

$dev--max-size-0:720px;
$dev--max-size-1:1024px;
$dev--max-size-2:1256px;

$dev--color-error:$dev--color-color6;

:root{
    --bg-color0: #{$dev--color-color-dark};
    --bg-color1: #{$dev--color-color-grey};
    --bg-color2: #{$dev--color-color-light};

    --color-error: #{$dev--color-error};

    --box-max-size-0:#{$dev--max-size-0};
    --box-max-size-1:#{$dev--max-size-1};
    --box-max-size-1:#{$dev--max-size-2};

    --header-size1:#{$dev--header-font-size-1};
    --header-size2:#{$dev--header-font-size-2};
    --header-size3:#{$dev--header-font-size-3};
    --header-size4:#{$dev--header-font-size-4};
    --header-size5:#{$dev--header-font-size-5};
    --header-size6:#{$dev--header-font-size-6};
    

    --button-bg:#{$dev--color-color3};
    --button-bg-hover:#{$dev--color-color3-light};
    --button-bg-disabled:#{$dev--color-color3-fade};

    --button-color0:#{$dev--color-color-light};
    
    --text-color0:#{$dev--color-color0};
    --text-color1:#{$dev--color-color1};
    --text-color2:#{$dev--color-color2};
    --text-color3:#{$dev--color-color3};
    --text-color4:#{$dev--color-color4};
    --text-color5:#{$dev--color-color5};
    --text-color6:#{$dev--color-color6};

    --text-size1:#{$dev--font-size-1};
    --text-size2:#{$dev--font-size-2};
    --text-size3:#{$dev--font-size-3};
    --text-size4:#{$dev--font-size-4};
    --text-size5:#{$dev--font-size-5};

    --border-color0:#{$dev--color-color-darker};
    --border-color1:#{$dev--color-color-light};

    --input-primary:#{$dev--color-color3-dark};
    --input-secondary:#{$dev--color-color3-light};

    --font-family0:Menlo, Consolas, "DejaVu Sans Mono", monospace;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      
    --bg-color0: #{$dev--color-color-dark};
    }
  }