html,body{
    height: 100%;
    font-family: var(--font-family0);
    overflow: hidden;
}

.pointer{
    cursor: pointer;
}

.material-design-icon.icon-2x {
    height: 2em;
    width: 2em;
}

.material-design-icon.icon-2x > .material-design-icon__svg {
    height: 2em;
    width: 2em;
}

.material-design-icon.icon-4x {
    height: 4em;
    width: 4em;
}

.material-design-icon.icon-4x > .material-design-icon__svg {
    height: 4em;
    width: 4em;
}